Source: slimbook-grub-settings
Section: libs
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/slimbook-grub-settings

Package: slimbook-grub-plymouth-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Fix for Plymouth freeze
 Sets simpledrm at cmdline to avoid Plymouth fight with sddm

Package: slimbook-grub-psr-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Fix for amdgpu psr
 Disables amdgpu psr at cmdline, needed on Excalibur R16

Package: slimbook-grub-memsleep-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Enables deeper sleep mode
 Enables deeper sleep mode for those devices without S3 support

Package: slimbook-grub-gpiowake-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Avoids system to be waked up by gpio
 Avoids spurious wakes from gpio interrupts of pin 6 on some qc71 systems

Package: slimbook-grub-ecwake-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Avoids system to be waked up by EC
 Avoids spurious wakes from EC interrupts systems

Package: slimbook-grub-deepsleep-fix
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Forces S3 sleep
 Forces deeper S3 sleep mode
